# Exclude WordPress core
/chirolife-wordpress/*.log
/chirolife-wordpress/.htaccess
/chirolife-wordpress/index.php
/chirolife-wordpress/license.txt
/chirolife-wordpress/readme.html
/chirolife-wordpress/wp-activate.php
/chirolife-wordpress/wp-admin
/chirolife-wordpress/wp-blog-header.php
/chirolife-wordpress/wp-comments-post.php
/chirolife-wordpress/wp-config-sample.php
/chirolife-wordpress/wp-cron.php
/chirolife-wordpress/wp-includes
/chirolife-wordpress/wp-links-opml.php
/chirolife-wordpress/wp-load.php
/chirolife-wordpress/wp-login.php
/chirolife-wordpress/wp-mail.php
/chirolife-wordpress/wp-settings.php
/chirolife-wordpress/wp-signup.php
/chirolife-wordpress/wp-trackback.php
/chirolife-wordpress/xmlrpc.php

# Exclude wordpress content
/chirolife-wordpress/wp-content/uploads/
/chirolife-wordpress/wp-content/blogs.dir/
/chirolife-wordpress/wp-content/upgrade/*
/chirolife-wordpress/wp-content/backup-db/*
/chirolife-wordpress/wp-content/advanced-cache.php
/chirolife-wordpress/wp-content/cache/*
/chirolife-wordpress/wp-content-cache/supercache/*
/chirolife-wordpress/wp-content/wflogs/
/chirolife-wordpress/wp-content/languages/*

# Exclude wordpress admin
/chirolife-wordpress/wp-admin/*

# Exclude WordPress themes
/chirolife-wordpress/wp-content/themes/twenty*
/chirolife-wordpress/wp-content/uploads
/chirolife-wordpress/wp-content/upgrade
/chirolife-wordpress/sitemap.*

# Exclude WordPress Understrap theme CSS files
/chirolife-wordpress/wp-content/themes/understrap/css/

# Exclude WordPress plugins
/chirolife-wordpress/wp-snapshots

# Exclude files containing sensitive information.
/chirolife-wordpress/wp-config.php
/chirolife-wordpress/*.sql

# Hidden and data files
/chirolife-wordpress/*.DS_Store
/chirolife-wordpress/*Thumbs.db
/chirolife-wordpress/*.sass-cache*
/chirolife-wordpress/*.bak
/chirolife-wordpress/*.swp
/chirolife-wordpress/node_modules/
/chirolife-wordpress/wp-content/themes/understrap/node_modules/
