/*---------------------------------------------------------------------------*\
    #UTILITIES
\*---------------------------------------------------------------------------*/

.underline {
    border-bottom: 4px solid $primary;
    width: fit-content;
}

.font-light {
    font-weight: $font-weight-light;
}

.font-normal {
    font-weight: $font-weight;
}

.font-bold {
    font-weight: $font-weight-bold;
}

.clearfix {
    clear: both;
}

img.shadow-hover {
    transition: .3s;

    &:hover {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    }
}

.py-xl-10 {
    @include media-breakpoint-up(xl) {
        padding-top: 8rem !important;
        padding-bottom: 8rem !important;
    }
}
