/*---------------------------------------------------------------------------*\
    #UTILITIES
\*---------------------------------------------------------------------------*/

.underline {
    border-bottom: 4px solid $primary;
    width: fit-content;
}

.font-light {
    font-weight: $font-weight-light;
}

.font-normal {
    font-weight: $font-weight;
}

.font-bold {
    font-weight: $font-weight-bold;
}

.clearfix {
    clear: both;
}

img.shadow-hover {
    transition: .3s;

    &:hover {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    }
}

// .py-xl-10 {
//     @media (min-width: 1600px) {
//         padding-top: 8rem !important;
//         padding-bottom: 8rem !important;
//     }
// }

.py-xl-10 {
    padding-top: 5vw!important;
    padding-bottom: 7vw!important;
}

.py-responsive-3 {
    padding-top: 3vw !important;
    padding-bottom: 3vw !important;
}
