/*---------------------------------------------------------------------------*\
    VARIABLES > TYPOGRAPHY
\*---------------------------------------------------------------------------*/

$font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-heading: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Georgia', serif;


/**
 * Based on a modular scale where:
 * Base = 1rem
 * Ratio = 0.2
 */

$font-size-xs: 1rem/1.4;
$font-size-s: 1rem/1.2;
$font-size-m: 1rem;
$font-size-l: 1rem*1.2;
$font-size-xl: 1rem*1.4;
$font-size-xxl: 1rem*1.6;
$font-size-xxxl: 1rem*1.8;
$font-size-xxxxl: 1rem*2;


$h1-font-size: $font-size-xxxxl;
$h2-font-size: $font-size-xxxl;
$h3-font-size: $font-size-xxl;
$h4-font-size: $font-size-xl;
$h5-font-size: $font-size-l;
$h6-font-size: $font-size-m;

$font-size: $font-size-m;

$line-height-base: 1.8;

$font-weight-light: 300;
$font-weight: 400;
$font-weight-bold: 600;
