/*---------------------------------------------------------------------------*\
    #COMPONENTS > #BUTTONS
\*---------------------------------------------------------------------------*/

.btn {
    border-radius: 0px;
    padding: 7px;
    min-width: 130px;
    font-weight: $font-weight-light;
}

.btn-primary {
    background-color: $primary;
    border: 1px solid $primary;

    &:hover {
        background-color: darken($primary, 5%);
    }
}
