/*---------------------------------------------------------------------------*\
    #COMPONENTS > #ICONS
\*---------------------------------------------------------------------------*/

#contact i.fa {
		background-color: $primary;
		color: $white;
		height: 30px;
		width: 30px;
		text-align: center;
		vertical-align: middle;
		border-radius: 50%;
		margin-right: 1rem;
		padding-top: 7px;
    }


// Ultimate Social Media Plugin overrides

.sfsi_widget {
    display: flex;
    justify-content: center;
}

.norm_row.sfsi_wDiv {
    width: auto !important;
}

.norm_row .bot_no {
    color: $white;
    background: none;
    border: none;

    &:before {
        display: none;
    }
}

.sfsi_wicons {
    margin: 0 10px !important;
}

// Ultimate Social Media Premium Plugin overrides

.sfsi_plus_widget {
    display: flex;
    justify-content: center;
}

.sfsiplus_norm_row.sfsi_plus_wDiv {
    width: auto !important;
}

.sfsiplus_norm_row .bot_no {
    color: $white;
    background: none;
    border: none;

    &:before {
        display: none;
    }
}

.sfsi_plus_wicons {
    margin: 0 10px !important;
}
