/*---------------------------------------------------------------------------*\
    #COMPONENTS > #IMAGES
\*---------------------------------------------------------------------------*/

// Homepage

#partnership img {
		max-height: 70px;
	}

// Offer page

#offer {

	.filter-white img {
		filter: brightness(0) invert(1);
	}

	img {
		height: 58px;
		width: auto;
	}
}
