/*---------------------------------------------------------------------------*\
    #COMPONENTS > #IMAGES
\*---------------------------------------------------------------------------*/

img.lazyloaded, .lazyloaded {
	transition: opacity 1s;
}

// Homepage

#carouselExampleControls .carousel-item img {
	width: 100%;
}

// Footer

#partnership img {
		max-height: 70px;
	}

// Offer page

#offer {

	.filter-white img {
		filter: brightness(0) invert(1);
	}

	img {
		height: 58px;
		width: auto;
	}
}
