/*---------------------------------------------------------------------------*\
    COMPONENTS > NAVIGATION
\*---------------------------------------------------------------------------*/

.navbar {
    z-index: 100;
}

.menu-item {

    @include media-breakpoint-up(lg) {

        a.nav-link {
            border-top: 2px solid $white;
            line-height: 1;
            color: $gray-800 !important;

            &:hover {
                color: $gray-600 !important;
            }
        }

        &.current-menu-item a.nav-link {
            border-top: 2px solid $primary;
        }
    }
}


/**
Fixed navigation on scroll
**/

#wrapper-navbar {
    height: 120px;
    transition: all .5s ease;
}

.scrolled {
    position: fixed;
    width:100%;
    box-shadow: 0px 0px 5px $gray-300;
    top: 0px;
    transition: all .5s ease;
    animation: smoothScroll .5s forwards;
    z-index: 100;

    &.bg-light {
        opacity: 1;
        height: 70px;
        transition: all .5s ease;

        @include media-breakpoint-down(lg) {
            height: auto;
        }
    }

    a.navbar-brand {
        max-width: 80px;
    }

    .navbar-toggler {
        top: 14px;
    }
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
}


/**
/** Brand elements
**/


.navbar-brand {
    width: 115px;
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
        margin-right: 1rem;

    }
}

.navbar-toggler {
    position: absolute;
    top: 20px;
    border: none;
}


/**
Main Navigation
**/

ul#main-menu {
    width: 100%;

    @include media-breakpoint-up(lg) {
        li:nth-last-child(3) {
            margin-left: auto;
        }
    }
}
