/*---------------------------------------------------------------------------*\
    #BASE > #FOOTER
\*---------------------------------------------------------------------------*/

#wrapper-footer {
    background-color: $primary-dark;
    color: $white;

    .row {

        .site-info a {
            font-size: $font-size-xs;
            color: $white;
            margin-right: 10px;
        }

    }

}

// Ultimate Social Media Plugin footer overrides
.sfsi_footerLnk {
    display: none;
}
