/*---------------------------------------------------------------------------*\
    #BASE > #SECTION
\*---------------------------------------------------------------------------*/

section {
    @include media-breakpoint-up(lg) {
        background-position: center;
    }
}

/* Contact page */
section#chiro-video {
    margin-bottom: -10px;
}

/* Home page */
#testimonials {
  min-height: 400px;
}

/* GDPR */
#cookie-law-info-again {
    box-shadow: #16161638 2px 2px 5px 2px;
}
