/*----------------------------
BASE > TYPE
----------------------------*/

h1, h2, h3,
.h1, .h2, .h3 {
    margin: 3rem 0;
    font-weight: $font-weight-light;
}
h4, h5,
.h4, .h5, {
    margin: 2rem 0;
    font-weight: $font-weight-light;
}

h6,
.h6 {
    margin: 2rem 0;
    font-weight: $font-weight-bold;
}

p {
 margin-bottom: 1rem;
}

h1.entry-title {
    margin: 1rem 0 3rem;
}

strong {
    font-weight: $font-weight-bold;
}

::selection {
    background: $primary;
    color: $white;
}

// Homepage
body.home {

    .wrapper.page-title {
        display: none;

    }
}

.page-id-182 ,
.page-id-6 {

    .wrapper.page-title {
        display: none;

    }
}
